<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'history/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>
        Metal Binladen
    </title>
</head>
    
    
<body>  
    <div class="flexTable">
        <div class="materialTitle">
            {{ material.material }}
        </div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

{% with trash_list=material.throwntrash_set.all %}
{% if trash_list %}
    <ul>
    {% for trash in trash_list %}
        <div class="flexTableItem">
            <div>weight: {{trash.weight}}g</div>
            <div>-</div>
            <div>date: {{trash.thrown_date}}</div>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No trash is available.</p>
{% endif %}
{% endwith %}
