html body {
    margin: 0;
    background-color: floralwhite;
    height: auto;
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
}

body .container {
    background-color: cadetblue;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100vh;
}

.metal {
    background-color: rgb(220, 229, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.metal:hover {
    background: url(images/metal1.jpg) no-repeat center;
    background-size: cover;
}

.plastic {
    background-color: rgb(26, 168, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.plastic:hover {
    background: url(images/plastic.jpg) no-repeat center;
    background-size: cover;
}

.glass {
    background-color: rgb(137, 224, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.glass:hover {
    background: url(images/glass1.jpg) no-repeat center;
    background-size: cover;
}

.mixed {
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.mixed:hover {
    background: url(images/mixed.jpg) no-repeat center;
    background-size: cover;
}

a {
    color: white;
    flex-grow: 1;
    text-decoration: none;
    justify-content: space-around;
    width: 100vw;
    -webkit-transition: width 0.5s;
    transition: 1s ease;
}

a:hover {
    color: rgba(0,0,0,0);
    width: 30%;
}


.flexTable{
    display: flex;
    width: 85%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.materialTitle{
    background-color: darkcyan;
    width: 60%;
    margin-top: 3%;
    border-radius: 20px;
    border-bottom: 5px solid black;
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    color: white;
}


.flexTableItem {
    display: flex;
    background-color: white;
    width: 100%;
    opacity: 0.7;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid black;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
}


.flexTableItem:hover {
    background-color: darkcyan;
    opacity: 1;
    color: whitesmoke;
    animation-name: item_animation;
    animation-duration: 1s;
}


@keyframes item_animation {
  0%   {background-color:white;}  
  25%   {background-color:darkcyan;}
  100% {background-color:darkcyan;}
}


@media all and (min-width: 780px) {
    a {
        width: 20vw; 
    }
}


